h1.UpperOfThePage {
  text-align: center;
  background-color: lightblue;
}
.container {
  display: flex;
  gap: 100px;
  justify-content: center;
}
img {
  display: block;
  margin: 0 auto;
}

span:hover {
  color: darkblue;
  font-weight: bolder;
  font-size: 30px;
}
h1.detail {
  color: chocolate;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: aqua;
}
img.backgroundfordetail {
  width:2558px;
  
  height: 1286px;
  background-image: url(./img/backgroundfordetail.avif);
}
